* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

.error {
  font-weight: 700;
}

.loader {
  font-weight: 700;
}

.cat-info {
  display: flex;
  column-gap: 18px;
}

.description {
  font-size: 22px;
  font-weight: 400;
  max-width: 50%;
}
